[package]
name = "libappindicator"
version = "0.7.0"
description = "Rust safe bindings for libappindicator"
edition = "2018"
license = "Apache-2.0 OR MIT"
keywords = [ "linux", "gui", "gtk" ]

[dependencies]
log = "0.4"
glib = "0.15"
gtk = "0.15"
gtk-sys = "0.15"
libappindicator-sys = { version = "0.7", path = "sys/" }
